@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;

  --color-base-100: #fff3f0;
  --color-base-200: #ffc2d1;
  --color-base-300: #ffccd5;
  --color-base-content:#26272e;
  --color-primary: #ff8fab;
  --color-primary-content: #ffffff;
  --color-whiteText: #ffffff;
  --color-secondary: #c8da9d;
  --color-secondary-content: oklch(98% 0.01 200);
  --color-accent: oklch(65% 0.25 160);
  --color-accent-content: oklch(98% 0.01 160);
  --color-neutral: oklch(50% 0.05 240);
  --color-neutral-content: oklch(98% 0.01 240);
  --color-info: oklch(70% 0.2 220);
  --color-info-content: oklch(98% 0.01 220);
  --color-success: oklch(65% 0.25 140);
  --color-success-content: oklch(98% 0.01 140);
  --color-warning: oklch(80% 0.25 80);
  --color-warning-content: oklch(20% 0.05 80);
  --color-error: oklch(65% 0.3 30);
  --color-error-content: oklch(98% 0.01 30);
  --bg-background: oklch(98% 0.01 0);
  --font-family: "Comfortaa", sans-serif;
}

.logo {
  font-family: 'Gamja Flower', cursive;

}